@model BlogPost

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>IT Blogs</title>
</head>
<body class="h-full bg-zinc-950">
<div class="min-h-full">
    <nav class="bg-zinc-950 mt-1">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 border border-white/10 rounded-full">
            <div class="flex h-16 items-center justify-between">
                <div class="flex items-center">
                    <div class="shrink-0">
                        <h1 class="text-white font-medium px-3 py-2 bg-purple-900/40 rounded-full "> 🖳 IT Blogs</h1>
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <a href="{{ route('books.index') }}" class="text-purple-700 rounded-md font-bold hover:text-purple-500">Blogs</a>
                            <a href="{{ route('reviews.index') }}" class="text-purple-700 rounded-md font-bold hover:text-purple-500">About</a>
                        </div>
                    </div>
                </div>
                <div class="hidden md:block">
                    <div class="ml-4 flex items-center md:ml-6">
                        <!--                        <p class="text-white mr-4">Profile</p>-->
                        <!--                        <form action="{{ route('logout') }}" method="POST">-->
                        <!--                            <button type="submit" class="text-white bg-red-950/60 rounded-md px-3 py-2 text-sm font-medium hover:bg-red-900">Logout</button>-->
                        <!--                        </form>-->
                        <a href="{{ route('login') }}" class="text-white bg-purple-900/40 rounded-md px-3 py-2 text-sm font-medium hover:bg-purple-500">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div x-data="{ show: false }" x-init="setTimeout(() => show = true, 300)">
        <div x-cloak
             x-show="show"
             x-transition:enter="transition ease-out duration-1000"
             x-transition:enter-start="opacity-0 scale-90"
             x-transition:enter-end="opacity-100 scale-100">

            <header class="relative bg-zinc-950 after:pointer-events-none after:absolute after:inset-x-0 after:inset-y-0">
                <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
                    <h1 class="text-3xl font-bold tracking-tight text-white">Create a new Blog</h1>
                </div>
            </header>

            <main>
                <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
                    <div class="bg-neutral-800/30 p-8 rounded-md shadow-lg shadow-black/50">
                        <form method="post" asp-action="Edit">
                            @Html.AntiForgeryToken()
                            <div class="space-y-12">
                                <div class="border-b border-white/10 pb-12">
                                    <div class="mt-4 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                                        <div class="sm:col-span-6">
                                            <label for="title" class="block text-sm/6 font-medium text-white">Title</label>
                                            <div class="mt-2">
                                                <input id="title" type="text" value="@Model.Title" name="title" class="outline-white/10 block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-purple-700 sm:text-sm/6" required/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                                        <div class="col-span-full">
                                            <label for="description" class="block text-sm/6 font-medium text-white">Description</label>
                                            <div class="mt-2">
                                                <textarea id="description"  name="description" rows="3" class="outline-white/10 block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-purple-700 sm:text-sm/6" required>@Model.Description</textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                                        <div class="sm:col-span-6">
                                            <label asp-for="Category" for="category" class="block text-sm/6 font-medium text-white">Category</label>
                                            <div class="mt-2">
                                                <select id="category" asp-for="Category" name="category" class="outline-white/10 block w-full rounded-md bg-white/5 px-3 py-3 text-base text-white outline-1 -outline-offset-1 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-purple-700 sm:text-sm/6">
                                                    <option value="Software Engineer" class="bg-neutral-950">Software Engineer</option>
                                                    <option value="Artificial Intelligence" class="bg-neutral-950">Artificial Intelligence</option>
                                                    <option value="Computer Science" class="bg-neutral-950">Computer Science</option>
                                                    <option value="Cybersecurity" class="bg-neutral-950">Cybersecurity</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="mt-6 flex items-center justify-end gap-x-6">
                                <a asp-controller="Blog" asp-action="Index" type="button" class="text-sm/6 font-semibold text-white hover:text-white/60">Cancel</a>
                                <button type="submit" class="rounded-md bg-purple-800/40 px-3 py-2 text-sm font-semibold text-white focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-700 hover:bg-purple-700">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
</body>
</html>